/* CSS */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f2f2f2;
}
/* Reset default styles */
body, ul {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(finger.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 80px;
  text-align: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  color: #eef2f3;
  text-decoration: none;
}

.menu li a.active {
  font-weight: bold;
}

/* Products section styles */
.products {
  padding: 60px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 70px;
}

.product {
  display: inline-block;
  width: 300px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
.zoomable-image {
  cursor: zoom-in;
  transition: transform 0.3s;
}

.zoomable-image:hover {
  transform: scale(1.2);
}
.product img {
  width: 200px;
  height: min-content;
  margin-bottom: 40px;
}

.product h3 {
  font-size: 20px;
  color: rgb(112, 75, 18);
  margin-bottom: 10px;
}

.product p {
  font-size: 16px;
  color: rgb(113, 95, 30);
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  color: #333;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 40px;
}

h2 {
  color: #753131;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
  color: antiquewhite;
}
li {
  color: #1c203b;
}
ul {
  padding-left: 20px;
  list-style-type: disc;
}

footer {
  background-color: #333;
  
  color: #fff;
  padding: 30px;
  text-align: center;
}
footer img {
  width: 50px; 
  height: auto; 
}
